#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-profile-image {
    width: 30%;
    margin: 5px;
}

#profile-container h2 {
    font-size: 15pt;
    font-weight: 200;
}

#edit-profile-button {
    margin: 15px;
    padding: 5px;
    width: 40%;

    background-color: var(--primary-color);
    
    box-shadow: 0 0 5px 0 rgba( 100, 100, 100, 0.25);
    border-radius: 10px;
    border: 0 solid rgba( 255, 255, 255, 0.35);
}

.settings-slot {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 12pt;
}

.settings-slot + .settings-slot {
    border-top: none;
}

.settings-slot p {
    margin: 0;
}

#prefs-menu-container h1 {
    margin-bottom: 15px;
}

#sign-out-button {
    display: flex;
    align-self: left;
    color: red;
}

#account-edit-table input {
    margin: 5px;
}

#edit-profile-title {
    
    text-align: center;
    margin-top: 10px;
}

.back-button {
    position: absolute;
    left: 20px;
    float: left;
}