
#find-car-btn {
    background-color: var(--primary-color);
}

.horizontal-scrolling-menu {
    display: flex;
    overflow-x: auto;
}

.car-card {
    aspect-ratio: 1 / 1.3;
    min-width: 60vw;
}

.car-card + .car-card {
    margin-left: 0;
}

.image-container {
    aspect-ratio: 1 / 1 ;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 0 5px 0 rgba( 100, 100, 100, 0.15);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.car-card-title {
    padding-top: 10px;
    font-size: 14pt;
    font-weight: 450;
}

.car-card-price {
    
    color: var(--primary-color);
}

/* -------------------------------------- */
/* ------------- Buy Search ------------- */
/* -------------------------------------- */
#search-container {
    height: 10vw;
    width: calc(100vw - 40px);
    margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid var(--text-color);
}
#search-bar {
    border: none;
    width: 100%;
    margin: 0px 10px;
    background: rgba(255, 255, 255, 0);
}
#search-filter-icon {
    padding: 5px;
    width: 20%;
    border-left: 2px solid var(--text-color);
}
#search-activate-icon {
    padding: 7px;
    width: 20%;
    border-left: 2px solid var(--text-color);
}