#find-car-btn:hover {
    cursor: pointer;
}

#find-car-btn {
    background-color: var(--primary-color);
    color: white;
}

#requests-container {
    display: flex;
    flex-direction: column-reverse;
}

#request-button-icon {
    width: 40%;
    max-width: 100px;
    min-width: 80px;
    padding: 20px;
}