body {
    /* bad way to make space for fixed header - there is a way to do this with
    position: sticky that I can't figure out - Isaac */
    padding-top: 50px;
}

#header-after-login {
    position: fixed;
    display: flex;
    top: 0px;
    z-index: 1;
    width: 100vw;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;



    /* Pretty glass effect */
    box-shadow: 0 8px 15px 0 rgba( 100, 100, 100, 0.25);
    background: rgba(255 255 255 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 0px 0px 10px 10px;
    border: 2px solid rgba( 255, 255, 255, 0.35);
}

#header-after-login h1 {
    padding-top: 7px;
}

#header-brand {
    color: var(--text-color);
}