body {
    /* bad way to make space for fixed header - there is a way to do this with
    position: sticky that I can't figure out - Isaac */
    padding-top: 50px;
}

#header-after-login {
    position: fixed;
    display: flex;
    top: 0px;
    z-index: 1;
    background-color: white;
    width: 100vw;
    padding: 5px 15px;
    align-items: center;
    justify-content: space-between;

    filter: drop-shadow(0px 0px 5px lightgrey);
}

#header-after-login h1 {
    padding-top: 7px;
}

#header-brand {
    color: var(--text-color);
}