body {
    padding-top: 70px;
}

#header-after-login {
    position: fixed;
    display: flex;
    top: 0px;
    z-index: 1;
    width: 100vw;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    height: 50px;

    /* glass effect */
    box-shadow: 0 8px 15px 0 rgba( 100, 100, 100, 0.25);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.35);
}
#header-brand {
    max-height: 50%;
}

.header-back {
    justify-content: center !important;
}

#header-page-title {
    color: var(--text-color);
    padding-top: 7px;
    font-size: 18pt;
    font-weight: normal;
}

.back-button {
    position: absolute;
    left: 10px;
    float: left;
}