#find-car-btn {
    background-color: var(--primary-color);
}

.horizontal-scrolling-menu {
    display: flex;
    overflow-x: auto;
}

#recommendations {
    display: flex;
    flex-direction: column;
}

#recommendations a {
    margin-bottom: 0px;
}