#nav-after-login {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    /* centers self */
    left: 50%;
    transform: translateX(-50%);

    width: 100vw;
    height: 65px;
    bottom: 0px;
    padding: 5px 30px;


    /* glass effect */
    box-shadow: 0 -8px 15px 0 rgba( 100, 100, 100, 0.25);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px 10px 0px 0px;
    border: 2px solid rgba( 255, 255, 255, 0.35);
}

.nav-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    flex: 1;
    max-width: calc(60px + 3vw);
    height: 95%;
}

.nav-icon-container object {
    height: 30px;
    border-radius: 5px;
    padding: 5px;

    background: rgba(255, 255, 255, 0.75);

    
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* Used to make svg icon clickable */
a.nav-icon-container {
    position: relative;
  }

a.nav-icon-container::after {
    content: ""; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
  }