#nav-after-login {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    /* centers self */
    left: 50%;
    transform: translateX(-50%);

    width: 100vw;
    height: 55px;
    bottom: 0px;
    background-color: white;

    padding: 5px 30px;

    filter: drop-shadow(0px 0px 5px lightgrey);
}

.nav-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    flex: 1;
    
    max-width: calc(60px + 3vw);
    filter: opacity(0.7);
    height: 80%;
}

.nav-icon-container object {
    height: 20px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}