:root {
    --primary-color: #44633f;
    --secondary-color: #ACECA1;
    --accent-color: #ED7D3A;
    --text-color: #272727;
}

body {
    font-family: 'Kanit', sans-serif;
    width: 100vw;

    /* bad way to make space for fixed header - there is a way to do this with
    position: sticky that I can't figure out - Isaac */
    padding-top: 50px;
}

.navbar {
    background-color: var(--primary-color);
}

.navbar-brand img {
    filter: invert(100%);
}

.btn-outline-success {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-outline-success:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-color);    
    border-color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--primary-color);     
}

.scrolling-wrapper{
	overflow-x:scroll;
}

.big-button {
    width: 90%;
}