:root {
    --primary-color: #386641;
    --secondary-color: #BC4749;
    --tertiary-color: #6A994E;
    --text-color: black;
    /* --text-color: #292F36; */
    --background-color: #F2E8CF;
}

h2 {
    font-weight: 100;
}

h3 {
    font-weight: 100;
    font-size: 14pt;
}

body {
    font-family: 'Kanit', sans-serif;
    width: 100vw;
    background: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: var(--background-color); */
}

.btn-outline-success {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-outline-success:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-color);    
    border-color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--primary-color);     
}

.scrolling-wrapper{
	overflow-x:scroll;
}

.big-button {
    width: 90%;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 2;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

.card-section-heading {
    margin-left: 20px;
    font-weight: 100;
}

.glass-container {
    margin: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    
    /* glass effect */
    box-shadow: 0 5px 15px 0 rgba( 100, 100, 100, 0.25);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: none;
    border: 1px solid rgba( 255, 255, 255, 0.35);
}

.glass-background-only {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: none;
}

.solid-container {
    margin: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    background-color: var(--primary-color);
    color: white;
    
    box-shadow: 0 5px 15px 0 rgba( 100, 100, 100, 0.25);
    /* background: rgba(255, 255, 255, 0.25); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.35);
}

textarea:focus, input:focus{
    outline: none;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 5px;
    min-width: 70px;
    padding: 5px 10px;
    box-shadow: 0 5px 10px -5px rgba( 0, 0, 0, 0.5);
}

/* Car Preview Card CSS */
.request-card {
    position:relative;

    height: 150px;
    border-radius: 10px;

    background-position: center;
    background-size: cover;

    box-shadow: 0 5px 15px 0 rgba( 100, 100, 100, 0.25);
}

.request-card-anchor {
    margin: 20px 20px 0px 20px;
}

.request-preview-icon {
    border-radius: 10px 0px 10px 0px;
    
    background-color: var(--primary-color);
    height: 100%;
    margin-right: 10px;
    padding: 3px;
    width: 35px;
}

.request-car-name {
    position: absolute;
    top: 0px;
    border-radius: 10px 0px 10px 0px;
    height: 25px;

    padding-right: 10px;
    display: flex;
    flex-direction: row;
    border-right: 1px solid rgba( 255, 255, 255, 0.35);
    border-bottom: 1px solid rgba( 255, 255, 255, 0.35);
}

.request-preview-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    max-height: 35px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 -15px 10px -10px rgba( 100, 100, 100, 0.25);
    border-top: 1px solid rgba( 255, 255, 255, 0.35);
}

.request-offer-number {
    float: right;
}

.car-preview-name {
    position: absolute;
    top: 0px;
    border-radius: 10px 0px 10px 0px;
    height: 25px;

    padding: 0px 10px;

    border-right: 1px solid rgba( 255, 255, 255, 0.35);
    border-bottom: 1px solid rgba( 255, 255, 255, 0.35);
}

.car-preview-info {
    position: absolute;    
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    max-height: 35px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 -15px 10px -10px rgba( 100, 100, 100, 0.35);
    border-top: 1px solid rgba( 255, 255, 255, 0.35);
    background: rgba(255, 255, 255, 0.5);
}

.car-details-prompt {
    float: right;
}

.car-preview-msrp {
    float: left;
    color: var(--primary-color);
    background: rgba(255, 255, 255, 1);
    padding: 0px 10px;
    margin-left: -5px;
    border-radius: 10px;
    /* box-shadow: 0 0px 10px 5px red; */
}

.color-text {
    color: var(--primary-color);
}
